<%- include("header") -%>
<div class="box" id="heading">
	<h1>Contact me</h1>
</div>

<div class="heading">
	<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, architecto nesciunt eum
		reprehenderit nobis odit! Cumque ullam sed quas, consequuntur blanditiis ut facere alias eligendi, voluptatum esse
		aliquid iure voluptate.</p>
</div>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos illo natus minus voluptate earum? Rem adipisci
	reprehenderit ad sit aperiam totam, earum at error omnis officiis? Dolor explicabo quas hic atque aliquam porro
	adipisci consectetur ab voluptatem expedita, illo officia a blanditiis aspernatur, ipsum dignissimos assumenda
	facilis? Reprehenderit, quibusdam eligendi!
</p>
<%- include("footer") -%>